<!-- Top Navbar -->
<div class="navbar-top">
  <!-- Center: Logo -->
  <div class="logo">Oakura</div>
</div>

<!-- Bottom Navbar -->
<div class="navbar-bottom">
  <!-- Center Menu -->
  <ul class="nav-menu SMN_effect-18">
    <li><a href="/"><span>Home</span></a></li>
    <li><a href="/shop"><span>Shop</span></a></li>
    <li><a href="/offers"><span>Offers</span></a></li>
    <li><a href="/contact"><span>Contact Us</span></a></li>
  </ul>

  <!-- Right: Icons -->
  <div class="nav-icons">
    <a href="/wishlist" class="icon-link" title="Favourites">
      <img src="/icons/heart.svg" alt="Favourites" />
    </a>
    <a href="/cart" class="icon-link" title="Cart">
      <img src="/icons/cart.svg" alt="Cart" />
    </a>
    <a href="/auth" class="icon-link" title="Sign In">
      <img src="/icons/user.svg" alt="Sign In" />
    </a>
  </div>
</div>